@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
  background-color: blueviolet;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

}

.todo_container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    
}
.todo_heading h1{
    font-weight: bold;
    color: rgb(73, 73, 141);
}
.todo_ti{
    width: 100%;
    margin-top: 25px;
}
.todo_ti input{
    width: 100%;
    padding: 5px 8px;
    border-radius:10px;
    border:1px solid gray;
}

.todo_input{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.todo_input textarea{
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    resize: none;
    border: 1px solid rgb(39, 39, 75);
}
.todo_text{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    margin-left: 50px;
}
.todo_btn{
    width: 100%;
    display: flex;
    justify-content: end;
}
.todo_btn button{
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: coral;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.todo_text h1{
    font-weight:bolder;
    font-size: 3.5rem;
    color: white;
}
.todo_todos{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill,minmax(150px,300px));
    justify-content: space-between;
    row-gap: 30px;

}

.todo{
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
     opacity: 0;
  transition: opacity 1s ease

}
.todo_title h3{
font-weight: 700;
color: coral;
}
.todo_dis{
    width: 100%;
    margin-top: 10px;
}
.todo_dis p{
    font-size: 0.7rem;
}

.todo_update{
    width: 100%;
    display: flex;
   justify-content: space-between;
   gap: 50px;
   margin-top: 20px;
}
.todo_delete{
    width: 100%;
}
.todo_delete button{
    width: 100%;
    font-size: 500;
    background-color: rgb(236, 1, 1);
    padding: 3px 5px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.todo_delete button:hover{
    opacity: .8;
}

.todo_edit{
    width: 100%;
}
.todo_edit button{
    width: 100%;
    font-size: 500;
    background-color: green;
      padding: 3px 5px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.todo_edit button:hover{
    opacity: .8;
}

@media screen and (max-width:820px) {
 .container{
    flex-direction: column-reverse;
 }   
 .todo_container{
    margin-top: 50px;
 }
 .todo_text{
    margin-left: 0px;
    padding-top: 0%;
 }
}

@media screen and (max-width:350px) {
    .todo_text h1{
        font-size: 1.5rem;
    }
}